.d {
  &__flex {
    display: flex;

    &--justify-between {
      justify-content: space-between;
    }

    &--justify-around {
      justify-content: space-around;
    }

    &--direction-column {
      flex-direction: column;
    }

    &--direction-row{
      flex-direction: row;
    }

    &--items-center {
      align-items: center;
    }
  }
  &__block {
    display: block;
  }
}
