.wrapper {
  position: absolute;
  max-width: 200px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

:host {
  ::ng-deep {
    .mat-form-field-appearance-fill {
      width: 200px;

    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 24px;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-flat-button.mat-primary {
      border-radius: 22px;
    }
  }
}
