<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available draggable fields</h2>
    <div
      cdkDropList
      id="list-two"
      [cdkDropListConnectedTo]="['list-one']"
      [cdkDropListData]="items"
      class="example-list d__block"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">

      <div class="example-box d__flex d__flex--justify-between d__flex--direction-row d__flex--items-center" *ngFor="let item of items" (cdkDragReleased)="rebuildStaticFields()" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <container-element [ngSwitch]="item.type">
          <app-input
            *ngSwitchCase="'input'"
            [styleArray]="item.style"
            [label]="findCurrentStyleValue('label', item.style)"
            [placeholder]="findCurrentStyleValue('placeholder', item.style)"></app-input>
          <app-textarea *ngSwitchCase="'textarea'" [styleArray]="item.style"></app-textarea>
          <app-button *ngSwitchCase="'button'" [styleArray]="item.style"></app-button>
          <app-checkbox *ngSwitchCase="'checkbox'" [styleArray]="item.style"></app-checkbox>
          <app-select *ngSwitchCase="'select'" [styleArray]="item.style"></app-select>
        </container-element>
      </div>
    </div>
  </div>
</div>
