<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available draggable fields</h2>
    <div
      cdkDropList
      id="list-two"
      [cdkDropListConnectedTo]="['list-one']"
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of items"  (cdkDragReleased)="rebuildArray()" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <container-element [ngSwitch]="item.type">
          <app-input *ngSwitchCase="'input'"></app-input>
          <app-textarea *ngSwitchCase="'textarea'"></app-textarea>
          <app-button *ngSwitchCase="'button'"></app-button>
          <app-checkbox *ngSwitchCase="'checkbox'"></app-checkbox>
          <app-select *ngSwitchCase="'select'"></app-select>
        </container-element>
      </div>
    </div>
  </div>
</div>
