input {
  height: 30px;
  border: 1px solid #0c0c0c;
  border-radius: 15px;
  padding: 0 15px;
  outline:none;
}

label {
  margin-bottom: 5px;
}

.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
