input {
  height: 30px;
  border: 2px solid #0c0c0c;
  border-radius: 25px;
  padding: 5px 10px;
  outline:none;
}

label {
  margin-bottom: 5px;
}

.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
