<div>
  <h2>General Style</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Style list</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let item of fields$ | ngrxPush">
        <app-form-page-styling-item [currentItem]="item" [defaultItem]="findDefaultFormElement(item)"></app-form-page-styling-item>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
