<div [formGroup]="form">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{currentItem.type}}</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let field of currentItem.style">
      <container-element [ngSwitch]="field.name">

        <div *ngSwitchCase="'color'" class="item-style">
          <label>{{field.name}}</label>
          <div>
            <input type="color" formControlName="{{field.name}}">
            <span>{{field.measurement}}</span>
          </div>
        </div>

        <div *ngSwitchCase="'border-style'" class="item-style">
          <label>{{field.name}}</label>
          <div>
            <select formControlName="{{field.name}}">
              <ng-template ngFor let-style [ngForOf]="findStyle(field.name, defaultItem.style).value">
                <option *ngIf="style === findStyle(field.name, currentItem.style).value; else unselectedOption" selected [value]="style">{{style}}</option>
                <ng-template #unselectedOption>
                  <option #unselectedOption [value]="style">{{style}}</option>
                </ng-template>
              </ng-template>
            </select>
          </div>
        </div>

        <div *ngSwitchCase="'font-weight'" class="item-style">
          <label>{{field.name}}</label>
          <div>
            <select formControlName="{{field.name}}">
              <ng-template ngFor let-style [ngForOf]="findStyle(field.name, defaultItem.style).value">
                <option *ngIf="style === findStyle(field.name, currentItem.style).value; else unselectedOption" selected [value]="style">{{style}}</option>
                <ng-template #unselectedOption>
                  <option #unselectedOption [value]="style">{{style}}</option>
                </ng-template>
              </ng-template>
            </select>
          </div>
        </div>

        <div *ngSwitchCase="'required'" class="item-style">
          <label>{{field.name}}</label>
          <div>
            <select formControlName="{{field.name}}">
              <ng-template ngFor let-style [ngForOf]="findStyle(field.name, defaultItem.style).value">
                <option *ngIf="style === findStyle(field.name, currentItem.style).value; else unselectedOption" selected [value]="style">{{style}}</option>
                <ng-template #unselectedOption>
                  <option #unselectedOption [value]="style">{{style}}</option>
                </ng-template>
              </ng-template>
            </select>
          </div>
        </div>

        <div *ngSwitchCase="'options'" class="item-style">
          <label>{{field.name}}</label>
          <div>
            <select formControlName="{{field.name}}">
              <ng-template ngFor let-style [ngForOf]="findStyle(field.name, currentItem.style).value">
                <option *ngIf="style === findStyle(field.name, currentItem.style).value; else unselectedOption" selected [value]="style">{{style}}</option>
                <ng-template #unselectedOption>
                  <option #unselectedOption [value]="style">{{style.name}}</option>
                </ng-template>
              </ng-template>
            </select>
          </div>
          <label>Add option</label>
          <div [formGroup]="formOption" >
            <input type="text" formControlName="optionControl">
            <button mat-flat-button color="primary" class="add-option" (click)="addOption()">add</button>
          </div>
        </div>

        <div *ngSwitchDefault class="item-style">
          <label>{{field.name}}</label>
          <div>
            <input type="text" formControlName="{{field.name}}"  placeholder="option">
            <span>{{field.measurement}}</span>
          </div>
        </div>

      </container-element>
    </div>
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-expansion-panel>
</div>
